apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx

spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx

  template:
    metadata:
      name: nginx
      labels:
        app: nginx

    spec:
      containers:
        - name: nginx-container
          image: quay.io/bmenghan/kruize-ui:v9
          imagePullPolicy: Never
          ports:
            - containerPort: 80 

---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  labels:
    app: nginx   
spec:
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  selector:
    app: nginx
