html, body, #root {
  height: 100%;
}
.markdown {
  font-size: medium !important;
}
.pf-c-content {
  --pf-c-content--small--Color: red; /* changes all <small> color to red */
  --pf-c-content--blockquote--BorderLeftColor: purple; /* changes all <blockquote> left border color to purple */
  --pf-c-content--hr--BackgroundColor: lemonchiffon; /* changes a <hr> color to lemonchiffon */
}
.pf-c-slider__step-label {
  word-break: normal;
}
.pf-c-button{
  --pf-c-inline-edit__action--c-button--m-valid--m-plain--Color:blue; 
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pf-c-button {
  justify-items: right;
}
