html,
body,
#root {
  height: 100%;
}
.markdown {
  font-size: medium !important;
}
.pf-c-content {
  --pf-c-content--small--Color: red; /* changes all <small> color to red */
  --pf-c-content--blockquote--BorderLeftColor: purple; /* changes all <blockquote> left border color to purple */
  --pf-c-content--hr--BackgroundColor: lemonchiffon; /* changes a <hr> color to lemonchiffon */
}
.pf-c-slider__step-label {
  word-break: normal;
}
.pf-c-button {
  --pf-c-inline-edit__action--c-button--m-valid--m-plain--Color: blue;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pf-c-button {
  justify-items: right;
}

@font-face {
  font-family: 'RedHatDisplay';
  src:  url('!!url-loader!@app/Assets/fonts/RedHatDisplay-Medium.woff') format('woff'),
  url('!!url-loader!@app/Assets/fonts/RedHatDisplay-Medium.woff2') format('woff2');    
  font-weight:400;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatTextRegular';
  src:   url('!!url-loader!@app/Assets/fonts/RedHatText-Regular.woff') format('woff'),
  url('!!url-loader!@app/Assets/fonts/RedHatText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('!!url-loader!@app/Assets/fonts/overpass-light.woff') format('woff'),
  url('!!url-loader!@app/Assets/fonts/overpass-light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('!!url-loader!@app/Assets/fonts/overpass-bold.woff') format('woff'),
  url('!!url-loader!@app/Assets/fonts/overpass-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'overpass', 'RedHatTextRegular', 'RedHatDisplay';
}